@import url('https://fonts.googleapis.com/css2? family = Ubuntu: wght @ 300 & display = swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #ffba08;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #03071e;
    background-image: url("./img/novo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0, 112px;
    position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}
.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #ffba08;
    padding: 1rem 4rem;
    border: 2px solid #ffba08;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
}

a:hover {
    background-color: indigo;
    transition: 0.5s;
}